@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0; }
    to {
        visibility: visible;
        opacity: 1; } }

.notify {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 20px;
    color: #e2dede;
    line-height: 1;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    visibility: hidden;
    opacity: 0;
    max-width: 350px;
    margin: 20px 0;
    top: 0;
    right: 0;
    animation: fade-in 1s ease-in-out forwards, fade-in 1s ease-in-out reverse forwards 3s;
    background-color: #ef5350;
}

.icon.error-notify
{
    width: 2em;
    height: 2em;
    margin-right: 10px;
}

.error-message
{
    font-size: 16px;
}