* {
  box-sizing: border-box;
}

html {
  font: 18px "Roboto", sans-serif;
  cursor: default;
  pointer-events: none;
  user-select: none;
}

body {
  background: #1976D2;
}

.oj-500 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}
.oj-500-text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 28vmin;
  font-weight: 700;
  color: #302d2d;
  z-index: 1;
  animation: ol-500-text--flicker 3s ease infinite;
}
.oj-500-text span:nth-child(2) {
  animation: ol-500-text-letter--flicker 1.5s ease infinite 0.2s;
}
.oj-500-text span:nth-child(3) {
  animation: ol-500-text-letter--flicker 2s ease infinite 0.1s;
}
.oj-500-terminal {
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 2rem;
}
@keyframes ol-500-terminal-line--animate {
  0% {
    width: 0%;
  }
}
@keyframes ol-500-terminal-line--entrance {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
}
.oj-500-terminal div {
  width: 1100px;
  overflow: hidden;
  margin: 0.8rem 0;
  white-space: nowrap;
  font: 26px monospace;
  letter-spacing: 2px;
  animation: ol-500-terminal-line--animate 4s steps(100, end), ol-500-terminal-line--entrance 0.3s ease;
  animation-fill-mode: backwards;
}
.oj-500-terminal div:nth-child(1) {
  animation-delay: 0s;
}
.oj-500-terminal div:nth-child(2) {
  animation-delay: 1.5s;
}
.oj-500-terminal div:nth-child(3) {
  animation-delay: 3s;
}
.oj-500-terminal div:nth-child(4) {
  animation-delay: 4.5s;
}
.oj-500-terminal div:nth-child(5) {
  animation-delay: 6s;
}